.appointment-section .working-hours {
    background-color: $main_color;
    color: $main_text_color;
}

#demo1-1 .perfect-datetimepicker tbody td:hover,
#demo1-1 .perfect-datetimepicker tbody td.selected {
    background-color: $main_color !important;
    border: 1px solid $main_color !important;
}

#demo1-1 .perfect-datetimepicker tbody td.time-entry.available:hover {
    color: #fff !important;
    background-color: $main_color !important;
    border: 1px solid $main_color !important;
}

#demo1-1 .perfect-datetimepicker thead td:hover {
    color: #fff !important;
    background-color: $main_color !important;
    border: 1px solid $main_color !important;
}

.appointmentModal .modal-header {
    background-color: $main_color !important;
}

.appointmentModal .modal-footer button {
    background-color: $main_color !important;
}

.appointment-left-right {
    #demo1-1 {
        form {
            &.perfect-datetimepicker {
                border-color: $main_color;
            }
        }
    }
}