.top-header {
    &.top-side-header {
        border-bottom: 1px solid $main_color;
        background-color: $main_color;
        color: $main_text_color;                
        ul {
            li {
                a {
                    color: $main_text_color;
                }
            }
        }
    }
}

.theme-logo .logo-item {
    color: $main_color;
}

.main-navbar-fixed .theme-logo .logo-item {
    color: $main_text_color;
}