html,
body {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: $font_size;
    color: $color;
}

a {
    color: $color;
    &:hover {
        color: $aHover;
    }
}

a.read-more {
    i {
        background: $btn_lemon_bg_color;
        color: $btn_lemon_text_color;
    }
}

i.fa {
    color: $main_color;
}

textarea,
input,
input[type='text'],
input[type='email'],
input[type='url'] {
    border: 1px solid $boder_color;
}

table {
    border-color: $boder_color;
}

.pagination {
    .nav-links {
        a {
            &:hover {
                background: $pagi_current_bg;
            }
        }
        .current {
            background: $pagi_current_bg;
        }
    }
}