.article-list {
    nav.pagination {
        h2.screen-reader-text {
            display: none;
        }

        .nav-links {
            a, span 
            {
                padding: 3px 7px;
            }
            .page-numbers {}

            a {
                &:hover {
                    background: $pagi_current_bg;
                    color: #ffffff;    
                }
            }
            .current {
                background: $pagi_current_bg;
                color: #ffffff;
            }
        }
    }

    article {
        width: 100%;
        display: inline-block;

        .read-more {
            font-style: italic;
            display: block;
            margin-top: 5px;
        }
        
        header {
            h1 {
                font-size: $h1;
            }
            h2 {
                font-size: $h2;
            }
            h3 {
                font-size: $h3;
            }
        }
    
        .post-thumbnail {
    
        }

        .post-big-thumbnail {
            margin-bottom: 10px;

            img {
                width: 100%;
            }
        }
    
        .entry-content {
            h2, h3, h4, h5 
            {
                font-size: $title_font_size + 1;
                line-height: $title_line_height;
            }
        }
    }
}