.top-header {
    clear: both;
    padding: 0;
    .render-logo { float: left; }
    ul {
        padding: 0;
        margin: 5px 0;
        line-height: 25px;
        li {
            display     : inline;
            border-left : 1px solid #dddddd;
            padding     : 0 5px;

            &:first-child {
                border-left  : none;
                padding-left : 0;
            }

            a {}
        }
    }
}