$archive_entry_title_size: 14px;
$archive_entry_title_weight: 600;
$archive_entry_title_pt: 10px;

$entry_page_header_title_transform: uppercase;
$entry_page_header_title_size: 20px;
$entry_page_header_title_weight: 500;

.archive {
    .main-content{
        header {
            &.entry-page-header {
                &.entry-header {
                    .entry-title {
                        font-size: $entry_page_header_title_size;
                        font-weight: $entry_page_header_title_weight;
                        text-transform: $entry_page_header_title_transform;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

.article-list,
.article-grid {
    article {
        margin-bottom: 20px;
    }
    .entry-content {
        header {
            &.entry-header {
                .entry-title {
                    font-size: $archive_entry_title_size;
                    font-weight: $archive_entry_title_weight;
                    padding-top: $archive_entry_title_pt;
                }
            }
        }
        .article-metas {
            margin-top: 5px;
            margin-bottom: 5p;
            padding-bottom: 5px;
            font-style: italic;
            font-size: 13px;
        }
    }
}
.article-list {
    article {
        .post-thumbnail {
            float: left;
            margin-right: 20px;
            max-width: 25%;
        }
        .entry-content {
            &.has-badge {
                padding-right: 55px;

                .badge {
                    &.top {
                        right: 15px;
                    }
                }
            }
        }
    }
}