.article-list {
    article {
        margin-bottom: $margin_bottom;
        .post-thumbnail {
            max-width: 30%;
            float: left;
            margin-right: 15px;
        }
    }
    
}