// btn-lemon
.bt-lemon-container {
    text-align: right;
    overflow: hidden;
    position: relative;

    a {
        display: inline-table;
        background-color: $btn_lemon_bg_color;
        color: $btn_lemon_text_color;
        font-weight: 600;
        text-transform: uppercase;
        height: 45px;
        position: relative;
        z-index: 1;
        transition: all 0.3s ease 0s;
        font-size: 15px !important;
        padding: 0px 35px !important;
        line-height: 45px !important;
        background-image: none !important;
        border-radius: 30px 30px;
        transition: all 0.3s ease 0s;
        animation-play-state: paused;

        svg {
            padding: 5px;
            position: absolute;
            z-index: 2;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            pointer-events: none;
            animation: 20s linear 0s infinite normal both paused dashed_border_running;
            stroke-width: 2;
            stroke-dasharray: 9, 5;
            stroke-dashoffset: 0;
            stroke-linecap: round;
            fill: none;
            transition: all 0.4s ease 0s;
            stroke: rgb(255, 255, 255);
            overflow: unset;
            rect {
                height: 35px;
                width: calc(100% - 0px);
                x: 5px;
                y: 5px;
            }
        }
    }

    a:hover {
        svg {
            animation-play-state: running;
            stroke: #fff;

            rect {
                transition: transform 1.2s linear;
                animation-play-state: running;
                background-position: 0 100%;
            }
        }
    }
}

.btn-custom {
    background-color: $main_color;
    color: $colors-white;
    border: 1px solid $main_color;
}