$colors-blue: #007bff;
$colors-indigo: #6610f2;
$colors-purple: #6f42c1;
$colors-pink: #e83e8c;
$colors-red: #dc3545;
$colors-orange: #fd7e14;
$colors-yellow: #ffc107;
$colors-green: #28a745;
$colors-teal: #20c997;
$colors-cyan: #17a2b8;
$colors-white: #fff;
$colors-gray: #6c757d;
$colors-gray-dark: #343a40;
$colors-primary: #007bff;
$colors-secondary: #6c757d;
$colors-success: #28a745;
$colors-info: #17a2b8;
$colors-warning: #ffc107;
$colors-danger: #dc3545;
$colors-light: #f8f9fa;
$colors-dark: #343a40;
$color-black: #161616;

/* Colors */
$color: #212529;
$aHover: #212529;
$entry_title_color: $color;
$boder_color: #cccccc;
$boder_top_color: #cccccc;
$sidebar_second_bg: #eeeeee;
$properties-bg: #f74a27;

$main-color: #333333;
$green-color: #12704a;
$yellow-color: #ffcc2f;
$grey-color: #888888;
$white-color: #ffffff;