.box-contact {
    h4 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }
    p {
        margin-bottom: 5px;
        i {
            margin-right: 5px;
        }
    }
}