.header-cb-1 {
    font-family: 'Great Vibes', cursive;
    color: $main_color;
    font-size: 35px;
    font-weight: 600;
}

.raleway-font {
    font-family: Raleway;
}

.great-vibes-font {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
}