.top-side-header {
    background: #fff;
    display: flow-root;
}

.top-header-banner {
    margin-top: 5px;
}


.theme-logo {
    max-width: 200px;
    height: auto;
    &.navbar-brand {
        padding-top: 0;
        padding-bottom: 0;

        img{
            max-height: 85px;
        }
    }
}

.top-header {
    clear: both;
    padding: 0;
    font-size: 13px;

    .container {
        .row{
            display: block;
        }
    }
    .render-logo { float: left; }    
    ul {
        padding: 5px 0;
        margin: 0;
        
        li {
            display     : inline;
            border-left : 1px solid #dddddd;
            padding     : 0 5px;

            &:first-child {
                border-left  : none;
                padding-left : 0;
            }
        }
    }

    .top-header-menu{
        .top-bar-menu-hotline{
            font-weight: bold;
        }
    }
}

.small-render-logo {
    display: none;
    .theme-logo{
        img{
            max-height: 35px;
            width: auto;
        }
    }
}

.top-divider.full-width {
    margin-bottom: -1px;
    border-top: 1px solid currentColor;
    opacity: 0.1;
}

@media (max-width: 991px) {
    .top-header {
        .render-logo{display: none}
        .top-header-banner{
            padding: 0;
        }
    }

    .small-render-logo{
        display: block;        
    }
}