.home-main-content {
    overflow: hidden;
}

.section {
    display: inline-block;
    width: 100%;
    margin: 50px 0;
}

.home-slide-wrapper {
    text-align: center;
    p {
        margin: 20px 0;
        a {
            color: $main_color;
        }
    }
}

.home-section {
    .home-box-title {
        clear: both;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
        .section-title {
            text-transform: uppercase;
            font-weight: 500;
            font-size: 25px;
        }
    }

    &.recent-posts {
        .article-grid {
            .entry-content {
                .entry-header {
                    padding-top: 10px;
                    .entry-title {
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    &.section-group-top {
        position: relative;
        z-index: 10;

        .group-1 {
            .item_content {
                padding-top: 10px;
                .entry-title {
                    font-size: 15px;
                    font-weight: 600;
                }
            }
        }
    }

    // Home page section-best-packages
    &.section-best-packages {
        .header-section {
            text-align: center;

            .entry-title {
                font-size: 30px;
                font-weight: 500;
            }

            .nav-pills {
                display: inline-flex;
            }
        }
        .content-section{
            overflow: hidden;
        }
    }
}

.home-intro-readmore {
    a {
        font-style: italic;
        background: $main_color;
        color: #222222;
        padding: 8px 20px;
    }
}

.service-name-section {
    text-align: center;
    text-transform: uppercase;

    .img-ticker {
        display: inline-block;
        position: relative;
        top: -5px;
    }
}

.home-intro-section {
    .service-name-section {
        text-align: left;
        font-weight: bolder;
        font-size: 28px;
    }

    h4 {
        color: $color2;
    }

    .home-intro-thumb {
        img {
            width: 100%;
        }
    }
}

.custom-home-tabs-section {
    margin: 20px 0;

    .service-name-section {
        text-align: center;
        text-transform: uppercase;
        font-size: 28px;
        span{
            color: $color2;
        }
    }

    
    .img-ticker-left {
       
    }

    .img-ticker-right {
    }

    .service-item-parent {
        .service-item {
            position: relative;
    
            .item-thumb {
                img {
                    width: 100%;
                    height: auto;
                }
            }
    
            .item-content {
                display: none;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                text-align: center;
                background: #222222;
                opacity: 0.5;
    
                .service-name {
                    color: #ffffff;
                    position: relative;
                    top: 45%;
    
                    a {
                        color: #ffffff;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }

    .service-item-parent {
        &:hover{
            .service-item {
                .item-content {
                    display: block;
                }
            }
        }
    }
    
}
.builder-title {
    text-transform: uppercase;
    font-size: 15px;
    padding: 5px 10px;
    border-top: 2px solid #ccc;
    font-weight: 700;
    background: #eee;

    span {
        border-top: 3px solid #bbbbbb;
        padding-top: 5px;
    }
}

.mix_services_center {
    position: relative;

    // Custom offset
    .offset-md-35{
        margin-left: 29.333333%;
    }

    .thumbnail_center {
        text-align: center;
        img {
            border-radius: 50%;
        }
    }

    .thumbnail_item_thumb {
        img {
            max-width: 100%;
            height: auto;
            border-radius: 50%;
        }
    }

    .thumbnail_item_left_right{
        position: absolute;
        top: 0;

        .thumbnail_item_content {
            .head-title {
                font-weight: 700;
            }
        }

        .left,
        .right{
            position: relative;
            margin-top: 7px;
            margin-bottom: 7px;
        }

        .left {
            left: -11%;

            &.first {
                left: -7%;
            }
            &.last {
                left: -7%;
            }
        }

        .right{
            right: -9%;
            &.first {
                right: -5%;
            }
            &.last {
                right: -5%;
            }
        }

    }
}

.first-section {
    border-radius: 50% 50% 10px 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.1);
    background-color: #ffffff;

    .group-1 {
        position: relative;
        top: -50px;
    }
    .group-2 {
        margin: 50px auto;

        .group-right {
            .bt-lemon-container {
                text-align: right;
            }
        }
    }

    .item_thumb {
        text-align: center;
        .rounded-corner {
            border-radius: 50%;
            max-width: 100%;
        }
    }

    .item_content {
        text-align: center;

        
    }
}

.truncate-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.truncate-excerpt-2{
    height: 45px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.section-best-features {
    overflow: hidden;
    .content-section {
        margin-top: 40px;
        .featured-item {
            text-align: center;
            margin-bottom: 25px;

            .featured-thumb {
                .icon-wrap {
                    display: inline-flex;
                    position: relative;
                    z-index: 0;
                    width: 70px;
                    height: 70px;
                }
                .type-image {
                    width: 70px;
                    text-align: center;
                }
                .icon-wrap:before {
                    -webkit-transition: all 0.3s;
                    -moz-transition: all 0.3s;
                    -o-transition: all 0.3s;
                    transition: all 0.3s;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    border: $main_text_color dashed 1px;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background: $main_color;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                &:hover {
                    .icon-wrap:before {
                        -webkit-transform: scale(1.2);
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.header-section {
    text-align: center;
    span {
        color: $main_color;
        font-weight: 600;
    }

    .nav-fill {
        display: inline-flex;
        margin-bottom: 30px;
        border: none;
    }
}


a.btn-lemon {
    border: 1px solid transparent;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 5px;
    padding: 5px 20px;

    &:hover,
    &.active,
    &.active > :focus {
        border: 1px solid $btn_lemon_bg_color;
        background: $btn_lemon_bg_color;
        color: $btn_lemon_text_color;
        text-decoration: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .truncate-excerpt-2 {
        margin-bottom: 0;
    }
    .mix_services_center {
        .thumbnail_item_left_right {
            .left,
            .right{
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}

@media (max-width: 767px){
    .home-section.section-group-top {
        .first-section {
            border-radius: 0;
            -webkit-box-shadow:none;
            -moz-box-shadow: none;
            box-shadow: none;
            background-color: transparent;
        }
    }

    .mix_services_center {
        .thumbnail_item_left_right {
            position: unset;

            .left {
                left: 0;
    
                &.first {
                    left: 0;
                }
                &.last {
                    left: 0;
                }
            }
    
            .right{
                right: 0;
                &.first {
                    right: 0;
                }
                &.last {
                    right: 0;
                }
            }
        }
    }

    .section-best-features {
        .header-section {
            margin-top: 40px;
        }
    }
}

@media (max-width: 575px){
    .mix_services_center {
        .offset-md-35 {
            margin-left: unset;
        }
    }
}

.home-custom-box {
    color: #ffffff;
    .right-custom-box {
        .custom-box-des {
            margin-bottom: 20px;
        }
        .custom-box-des-spirit {
            ul, ol {
                margin: 0;
                padding: 0;

                li {
                    list-style: none;
                    display: inline-flex;
                    width: 48%;
                    margin: 3px 0;
                    
                    &::before {
                        font: normal normal normal 14px/1 FontAwesome;
                        content: "\f2da";
                        width: 32px;
                        font-size: 14px;
                        display: inline-block;
                        text-align: right;
                        margin-right: 10px;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        color: $main_color;
                    }
                }
            }
        }

        .custom-box-navigator {
            margin-top: 30px;
        }
    }
}

.vc_custom_1583484295953 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url('../images/bg-da.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.first-section {
    .item_thumb {
        .icon-wrapper {
            display: inline-flex;
            position: relative;
            z-index: 0;
            width: 100%;
            height: 100%;
        }
        
        .icon-wrapper:before {
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            border: $main_text_color dashed 1px;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: $main_color;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
        
        &:hover {
            .icon-wrapper:before {
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
        }
    }   
}