.archive {
    .main-content {
        header.entry-header {
            padding-top: 0;
            h1.entry-title {
                text-transform: uppercase;
                font-size: 20px;
                font-weight: normal;
                border-bottom: 1px solid $boder_color;
            }
        }
    }
}


.wide-2cols {
    .main-content {
        .post-thumbnail {
            max-width: 35%;
        }
    }
}