.navbar{
    clear: both;
    padding: 5px 0;
    background: #ffffff;
    border: transparent;
    border-left: none;
    border-right: none;
    margin: 0;

    .fa-home {
        font-size: 30px;
    }
}

@media (min-width: 992px) {
    // Fix main-nabbar
    .main-navbar-fixed{
        position: sticky;
        width: 100%;
        display: block;
        transition: all 0.3s;
        top: 0;
        z-index: 999;
        opacity: 0.95;
    }

    .main-navbar-fixed.navbar-expand-lg .navbar-nav .nav-item.dropdown.show>.nav-link,
    .main-navbar-fixed.navbar-expand-lg .navbar-nav .nav-item >.nav-link{
        border-bottom: 1px solid transparent;
        &:hover {
            border-bottom: 1px solid #fff;
        }
    }

    .navbar-expand-lg .navbar-nav {
        .nav-item {
            padding: 10px 0;
            >.nav-link {
                // border-left: 1px solid $menu_border_color;
                padding: 0 10px;
                text-transform: uppercase;
            }
        }

        .dropdown-menu {
            min-width: 180px;
            border-radius: 0;
            padding: 0;
            .nav-item {
                padding: 5px 0;
                .nav-link {
                    text-transform: none;
                    color: #222;

                    &:hover{
                        border-bottom: 1px solid transparent;
                    }
                }                
            }
        }
    }
}