html,
body {
    font-family: "Arial", Helvetica, sans-serif;
    font-size: $font_size;
}

img
{
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
}

a.read-more {
    i {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
}

i.fa-custom-size {
    font-size: 20px;
    margin-right: 5px;
}

textarea,
input,
input[type='text'],
input[type='email'],
input[type='url'] {
    padding: 5px;
}

input[type='submit'] {
    &:hover {
        background-color: #eeeeee;
    }
}

table {
    tr {
        td {
            padding: 5px;
        }
    }
}

.clear { clear: both; }
.clear-15 { clear: both; min-height: 15px; }

.pagination {
    clear: both;
    margin-bottom: 20px;

    h2.screen-reader-text {
        display: none;
    }

    .nav-links {
        a, span 
        {
            padding: 3px 8px
        }

        a {
            &:hover {
                color: #ffffff;    
            }
        }
        .current {
            color: #ffffff;
        }
    }
}