html,
body {
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: $font_size;
    color: $color;
    // scroll-behavior: smooth;
}

img
{
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
}

a {
    color: $color;
    &:hover {
        color: $aHover;
    }
}

a.read-more {
    i {
        background: $btn_lemon_bg_color;
        color: $btn_lemon_text_color;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
}

i.fa {
    color: $main_color;
}

i.fa-custom-size {
    font-size: 20px;
    margin-right: 5px;
}

textarea,
input,
input[type='text'],
input[type='email'],
input[type='url'] {
    border: 1px solid $boder_color;
    padding: 5px;
}

input[type='submit'] {
    &:hover {
        background-color: #eeeeee;
    }
}

table {
    border-color: $boder_color;
    th {}

    tr {
        td {
            padding: 5px;
        }
    }
}

.clear { clear: both; }
.clear-15 { clear: both; min-height: 15px; }

.pagination {
    clear: both;
    margin-bottom: 20px;

    h2.screen-reader-text {
        display: none;
    }

    .nav-links {
        a, span 
        {
            padding: 3px 8px
        }
        .page-numbers {}
        a {
            &:hover {
                background: $pagi_current_bg;
                color: #ffffff;    
            }
        }
        .current {
            background: $pagi_current_bg;
            color: #ffffff;
        }
    }
}