$font_size: 14px;
$title_font_size: 14px;
$title_line_height: 18px;
$widget_title_size: 16px;

$widget_item_title_size: $font_size;
$widget_item_title_weight: bold;

/* box-list-item > item-thumb*/
$widget_item_thumb_mg_bt: 5px;

.sidebar {
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-bottom: 10px;
        }
    }

    figure {
        .wp-caption-text {
            display: none;
        }
    }

    .ws24h_contact .support-contact h5{
        text-transform: uppercase;
    }
}

.widget{
    clear: both;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;

    // Resize Widget Tag clouds
    a.tag-cloud-link[style*="font-size: 8"], a.tag-cloud-link[style*="font-size: 11"] {
        font-size: 10pt !important;
    }
    a.tag-cloud-link[style*="font-size: 12"], a.tag-cloud-link[style*="font-size: 13"] {
        font-size: 12pt !important;
    }
    a.tag-cloud-link[style*="font-size: 14"], a.tag-cloud-link[style*="font-size: 15"] {
        font-size: 14pt !important;
    }
    a.tag-cloud-link[style*="font-size: 16"], a.tag-cloud-link[style*="font-size: 17"] {
        font-size: 16pt !important;
    }
    a.tag-cloud-link[style*="font-size: 18"], a.tag-cloud-link[style*="font-size: 19"], 
    a.tag-cloud-link[style*="font-size: 2"] {
        font-size: 18pt !important;
    }

    &.widget_block {
        .wp-block-group {
            h2 {
                font-weight: 600;
                padding: 5px 0 0px 0;

                &::before {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "";
                    padding-left: 5px;
                }

                &::after {
                    font: normal normal normal 14px/1 FontAwesome;
                    content: "";
                    display: block;
                    width: -webkit-fill-available;
                    margin-top: 5px;
                }
            }
        }

        figure {
            margin: 0;
        }

        .wp-block-search {
            button.wp-block-search__button {
                padding: 5px;
            }
        }
    }

    .widget-title {
        font-weight: 600;
        padding: 5px 0 0px 0;
        font-size: 14px;
        text-transform: uppercase;

        &::before {
            font: normal normal normal 14px/1 FontAwesome;
            content: "";
            padding-left: 5px;
        }

        &::after {
            font: normal normal normal 14px/1 FontAwesome;
            content: "";
            display: block;
            width: -webkit-fill-available;
            margin-top: 5px;
        }
    }

    .wp-block-video {
        video {
            max-width: 100%;
            height: auto;
        }
    }

    .calendar_wrap {
        table {
            width: 100%;
            th,td {
                text-align: center;
            }
            td#today{
                font-weight: bold;
            }
        }
    }

    .gallery {
        .gallery-item {
            .wp-caption-text {}
        }
    }
    
    .tagcloud {
        max-height: 300px;
        overflow: auto;
    }

    &.widget_nav_menu {
        .menu-item-has-children{
            margin-top: 10px;
            &> a{
                font-weight: bold;
            }
        }            
    }

    ul,ol {
        margin: 0 0 10px 0;
        padding: 0;
        li {
            list-style: none;
            display: inline-block;
            width: 100%;
        }
    }

    .widget-box-list {
        .box-list-item {
            h5.item-title {
                font-size: $title_font_size;
                font-weight: $widget_item_title_weight;
                line-height: $title_line_height;
                label {
                    font-weight: normal;
                }
            }

            .item-thumb {
                float: left;
                margin-right: 10px;
                max-width: 35%;
            }

            .item-thumb-full {                
                margin-bottom: $widget_item_thumb_mg_bt;
            }

            .item-lead {
                text-align: justify;
            }
        }
    }

    .socials-link-list{
        li{
            display: inline;
            margin-right: 5px;
            a {
                padding: 0px;
                font-size: 25px;
                padding: 3px;

                span {
                    display: none;
                }
            }
        }
    }
}

// Widget_media_gallery
.widget_media_gallery {
    .columns-2 {
        display: flex;
        flex-wrap:wrap;
        box-sizing: border-box;
        margin-left: -5px;
        margin-right: -5px;
        gap: 0;

        .wp-block-image {
            flex: 0 0 50%;
            max-width: 50%;
            margin: 0;
            padding: 5px;
        }
    }

    .columns-3 {
        display: flex;
        flex-wrap:wrap;
        box-sizing: border-box;
        margin-left: -5px;
        margin-right: -5px;
        gap: 0;

        .wp-block-image {
            &:nth-of-type(1n),
            &:nth-of-type(2n) {
                flex: 0 0 33.33333%;
                max-width: 33.33333%;
                margin-bottom: 5px;
                padding: 0 2px;
            }
            &:nth-of-type(4n) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .columns-4 {
        display: flex;
        flex-wrap:wrap;
        box-sizing: border-box;
        margin-left: -2px;
        margin-right: -2px;
        gap: 0;

        .wp-block-image {
            flex: 0 0 25%;
            max-width: 25%;
            margin: 0;
            padding: 2px;
        }
    }

}

.second-sidebar {
    ul,ol {
        font-size: 12px;

        li {
            margin-bottom: 10px;
        }
    }
}


/*sidebar*/

@media (max-width: 991px) {
    /*sidebar*/
    /*** Sidebar mobile tric ***/
    .sidebar-mobile{
        width: 0px;
        position: fixed;
        top: 0;
        right: -10px;
        z-index: 9999;
        height: 100%;           
        background-color: #eee;
        right: 0px;
        transition: all 0.5s;
        padding: 0;
    }

    .sidebar-mobile .sd-abc{
            width: 100%;            
            max-height: 90%;
            overflow-y: auto;   
            z-index: 100;
            position: relative;
            overflow-x: hidden;
            margin-top: 25px;
            background-color: #eee;
    }

    span.sidebar-mobile-open{
        position: fixed;
        right: 0;
        top: 30%;
        padding: 3px 15px;
        font-size: 25px;
        display: block;
        z-index: 10;
    }
    span.sidebar-mobile-close{
        position: absolute;
        top: 0;
        right: -50px;
        font-size: 20px;
        font-weight: bold;
        /* text-decoration: none; */
        padding: 3px 12px;
        transition: all 0.5s;
    }
    span.sidebar-mobile-close-active{
        right: 10px;
        display: block;
    }

    span.sidebar-mobile-close:hover{text-decoration: none;}

    .sidebar-mobile-active{
        right: -10px;   
        width: 280px;
        padding: 10px;
        overflow-y: scroll;
    }
}
.site-over-bg{width: 100%; height: 100%; background-color: #000; position: fixed; top: 0; left: 0; z-index: 1111; opacity: 0.5;}
@media(min-width:992px) {
    span.sidebar-mobile-close, span.sidebar-mobile-open{display: none;}
    .site-over{display: none;}
}

// widget
// widget_calendar
.widget_calendar {
    .wp-block-calendar {
        position: relative;
        padding-top: 30px;

        table.wp-calendar-table {
            width: 100%;
        
            caption {
                position: absolute;
                top: 0;
                padding: 5px 0;
                text-align: center;
                width: 100%;
                font-weight: bold;
            }
        
            tr, td {
                text-align: center;
            }
        }
    }
}