.socials-link {
    margin: 10px 0;
    padding: 0;
    li {
        margin: 0 3px;
        list-style: none;
        display: inline-block;
        span.hd-text{display: none;}
        a {
            
            &:hover {

            }
            i, img {
                float: left;
            }
        }
    }
}

.social-button-show {
    clear: both;
    margin: 10px 0;
    display: inline-block;
    width: 100%;

    .my-share-box {
        clear: both;
        float: left;
        margin-right: 10px;

        .fa {
            font-size: 25px;
            float: left;
            margin-top: -5px;
        }
    }

    .my-g-plus {
        float: left;
        margin-right: 10px;
    }
}

.socials-link-list{
    li{
        display: inline;
        margin-right: 5px;
        a{
            padding: 0px;
            font-size: 25px;
            padding: 3px;
        }
    }
}