$font-size: 14px;
$border-color: $grey-color;
$main-menu-font-size: $font-size;

$a-color: $main-color;
$a-hover-color: $yellow-color;
$a-after-bg: $yellow-color;

$a-read-more-color: $green-color;
$a-read-more-bg: $white-color;
$a-read-more-hover-color: $yellow-color;
$a-read-more-hover-bg: $white-color;
$a-read-more-border-color: $green-color;
$a-read-more-border-hover-color: $yellow-color;
