#cat_sortable .widget-content {
    .display_category_choosing_posttype,
    .display_mode_choosing_show {
        &.active {
            display: block;
        }
    
        &.inactive {
            display: none;
        }
    }
}

#cat_sortable .widget-content label {
	.group-item-new-layout {
        width: 260px;

        .item-new-layout {
            position:relative;
            width: auto;

            input[type='radio'] {
                position: absolute;
                left: 5px;
                top: 10px;
            }
        }
    }
}